/* css default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #7eb5e2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

header h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 50px 5px 10px black(0,0,0,0.363);
}

section div {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    min-height: 200px;
}

footer {
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-top: auto;
    color: #000202;
    font-size: 0.9rem;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    section {
        flex-direction: column;
        align-items: center;
    }
}